/Accessoire.class
/Ausruestung.class
/Gegenstand.class
/Geldbeutel.class
/Inventar.class
/Kombination.class
/KommandoGegenstand.class
/Ruestung.class
/Stapel.class
/VerwendbarerGegenstand.class
/Waehrung.class
/Waffe.class
/Waffenart.class
