/KeineBedingung.class
/OrtHatAusgangBedingung.class
/SpielerHatAusgeruestetBedingung.class
/SpielerHatFaehigkeitBedingung.class
/SpielerHatGegenstandBedingung.class
/UntersuchbaresObjektIsUntersuchtBedingung.class
