/Farbe.class
/FarbigeSchrift.class
/IPrintable.class
/InventoryEvent.class
/InventoryListener.class
/NumerusGenus.class
/PlayerEvent.class
/PlayerListener.class
/StringEvent.class
/StringListener.class
/InventarEvent.class
/InventarListener.class
/SpielerListener.class
