/Attribut.class
/Effekt.class
/Entity.class
/EntityAttribut.class
/EntityDamageAmplifier.class
/EntityResistenz.class
/Faehigkeit.class
/Gegner.class
/Gegnerart.class
/Level.class
/Resistenz.class
/Schadensart.class
/Spieler.class
